* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

div{
    display: inline-block;
    border: 4px solid black;
    height: 52px;
    margin-top: 1.5rem;
    text-align: center;
}

#container{
    width: 400px;
    height: 440px;
    padding: 20px;
    margin: 15px;
    background-color: #83cbff;
}

#screen{
    margin-top: 0;
    margin-bottom: 5rem;
    width: 368px;
}

#button0{
    width: 203px;
}

.simple{
    width: 64px;
}

.double{
    width: 140px;
}

.choix{
    width: 100px;
}

.clair{
    background-color: #b3e9ff;
}

.fonce{
    background-color: #6290be;
}

.block{
    border: none;
}
